/* Hier komt custom CSS */
body {
    background-image: url('/img/background.jfif');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.navbar-expand-sm {
    background-color: black;
}

a {
    color: white;
}

.btn-warning {
    background-color: #631D76;
    color: #FBFBFB;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}

nav {
    border-bottom: 2px solid orange;
}

a:hover {
    color: orange;
}

#logo {
    width: 12%
}

.middlelinks {
    font-size: 20px;
}

.col-sm-5 {
    background-color: rgba(0, 0, 0, 0.651);
}

.col-sm-6 {
    background-color: rgba(0, 0, 0, 0.925);
}

.fas,
.fab {
    color: orange;
}

.display-2 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

pre {
    color: white;
}

.vollelengte {
    background-color: rgba(0, 0, 0, 0.925);
    width: 96%;
}

.h3 {
    font-size: 36px;
}

.h5 {
    font-size: 30px;
}

.video {
    padding: 0em 0em 0.5em 0em;
  position: sticky;
  top: 0px;
}

table, th, td {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#titel {
    /* margin-top: 100px; */
    padding-top: 10%;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

input {
    border-radius: 0 1em 1em 0 !important;
}